.container {
    display: flex;

}


/* ----.container > .mainArea */
.container > .mainArea {
    /* background: pink; */
    flex: 1 1 100%;
    /* padding-top: 20px; */
    padding-right: 24px;
    margin-top: 76px;
}

.container > .mainArea > .profileArea {
    display: flex;
    align-items: center;
    gap: 8px;
}


.mainArea > .profileArea > img {
    max-width: 130px;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;

}

.mainArea > .profileArea > .username {
    font-size: 24px;
}



