.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: rgba(0,0,0,.6); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modal {
    position: absolute;
    top: 80px;
    background: #fff;
    border-radius: 12px;
    height: 80%;
    max-width: 1000px;

    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 20px rgba(0,0,0,.2);

}



.modal > .top {
    padding: 2%;
    border-bottom: 1px solid rgb(47, 47, 47);
}


.modal .main {
    display: flex;
    min-height: 500px;
    border-bottom: 1px solid rgb(175, 175, 175);

}


/* ----.main > .left, .main > .right共通---- */
.main > .left .top, .main > .right .top {
    padding: 10px 20px;
    border-bottom: 1px solid rgb(175, 175, 175);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.main > .left .content,
.main > .right .content {
    max-height: 450px;
    overflow-y: auto;
    padding: 12px;
}




/* ----.main > .left---- */

.modal .main > .left {
    border-right: 1px solid #a0a0a0;
    flex: 3;
}


.main > .left > .top input {
    width: 100%;
    padding: 8px;
    border-radius: 14px;
    border: 1px solid rgb(129, 129, 141);

}


.main > .left .content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

}

.main > .left .content .videoItem {
    flex: 0 1 calc(100% / 4 - 10px);
    height: 100px;
    overflow: hidden;
    cursor: pointer;
    /* padding: 1px; */

}

.main > .left .content .videoItem:hover {
    opacity: .8;
}


.main > .left .content .videoItem.selected {
    border: 2px solid #14f66e;
    box-shadow: 0 0 4px rgba(31, 140, 2, 0.6);
}


.main > .left .content img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}


.main > .left .videoItem .title {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp: 2; */

}


.main > .left .videoItem .bottom {
    display: flex;
}




/* ----.main > .right---- */

.main > .right {
    flex: 2;
}




.main > .right .content .videoItem {
    display: flex;
    gap: 12px;

}

.main > .right .videoItem > .left {
    flex: 1;
}




.main > .right .videoItem img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;

}


.main > .right .videoItem > .right {
    flex: 2;
}


.main > .right .videoItem .title {
    font-size: 12px;

}


.main > .right .videoItem .upload {
    font-size: 10px;
    color: #a0a0a0;
}



/* ----.buttons---- */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    /* background-color: pink; */
    padding: 0 20px;
    gap: 10px;
}

.buttons button {
    all: unset;
    cursor: pointer;
    border-radius: 16px;
    padding: 6px 12px;
    color: #fff;
}

.buttons .cancel {
    background: rgb(195, 195, 195);
}

.buttons .save {
    background: rgb(10, 136, 136);
}
