.modal {
    position: absolute;
    z-index: 1000;
    background: #fff;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,.3);
    bottom: -100%;
    left: 20%;
    width: 16%;
    padding: 1% 2%;
    border-radius: 14px;
}


.modal .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: ; */
}
