.sideArea {
    border-right: 1px solid rgb(207, 207, 207);
    flex: 1;
    height: 100vh; /* これでborder-rightが画面いっぱいに伸びる*/
}


.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0;
}


.profile img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}


.profile .userName {
    text-align: center;
    color: rgb(143, 143, 143);
    font-size: 12px;
}


/* ----menus---- */

.menus {
    margin-top: 20px;

}

.menus li {
    padding: 6px;
    width: 100%;
}

.menus li a {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: all .6s;
}

.menus li a:hover {
    background-color: rgb(193, 193, 235);
}
