.mainTitle {
    font-size: 26px;
    padding: 20px 24px;
}




.tabMenu {
    border-bottom: 1px solid rgb(219, 219, 219);
}


.menus {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0 24px 10px;
    /* border-bottom: 1px solid blue; */

}


.menus a {
    position: relative;
    padding: 4px 0;
    display: inline-block;
    color: rgb(112, 112, 112);
    text-decoration: none;
    transition: all .6s;
}

.menus a.active {
    color: black;
}


.menus a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: #8884d8;
    transition: all .6s ease-in-out;

}


.menus a:hover::after {
    width: 100%;
}

.menus a.active::after {
    width: 100%;
}
