.modal {
    position: absolute;
    z-index: 1000;
    background: #fff;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,.3);
    bottom: -100%;
    left: 20%;
    width: 110px;
    padding: 10px;
    border-radius: 14px;
}


.modal .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* text-align: center; */

}
