/* ----.modal---- */
.modal {
    position: absolute;
    top: 50px;
    left: 30px;
    z-index: 2000;
    background-color: #fff;
    /* padding: 20px 0 0px; */
    border-radius: 10px;
    /* max-width: 350px; */
    /* width: 130px; */
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    /* animation: fadeIn 0.5s ease-in-out; */
}



.modal > .menus > li > a {
    border-radius: 10px;
    width: 180px;
    display: flex;
    gap: 10px;

    padding: 10px;
    color: #000;
    cursor: pointer;

}


.modal > .menus > li > a:hover {
    background-color: rgb(188, 237, 221);
}

