/* ----commentUpload---- */
.commentUpload {
    display: flex;
    flex-direction: column;   /* 縦並びにしたい場合は column */
    margin-top: 10px;
    gap: 14px; /* テキストエリアとボタンの間隔 */
}


.commentUpload textarea {
    width: 100%;
    line-height: 1.8;
    padding-bottom: 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #333;
    overflow: hidden;   /* ← スクロールバー非表示 */
    outline: none;          /* フォーカス時の青枠を消す */
    resize: none;           /* サイズ変更禁止 */
}


.commentUpload .commentSubmit {
    all: unset;
    align-self: flex-end;   /* 自分自身だけ右端に寄せる */
    background: #111;
    color: #fff;
    padding: 8px 10px;
    min-width: 60px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: all .6s;
}


.commentUpload .commentSubmit:hover {
    opacity: .8;
}



.commentUpload textarea:focus {
    border-bottom: 2px solid #111;
}

