.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modal {
    background: #fff;
    border-radius: 12px;
    padding: 2%;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 20px rgba(0,0,0,.2);

}

.modal p {
    text-align: center;
    color: black;
    /* font-size: 400px; */
}

.modal .buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
