
.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.headerLeft {
  font-weight: bold;
  font-size: 20px;
}



.searchForm {
  display: flex;
  gap: 8px;
}

.searchInput {
  width: 400px;
  padding: 5px;
}

.searchForm > .searchButton {
  padding: 6px 20px;
  background: #000;
  color: #fff;
}




.headerRight {
  display: flex;
  gap: 10px;
}
