/* 「アプリ全体に共通で当てたいCSS」を書く。 */

/* body 全体のスタイル
フォント
リセットCSS
共通ルール */


* {
    box-sizing: border-box;
}


body, h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: #000;
}

button {
    all: unset;
    cursor: pointer;

}

