header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background: rgb(225, 255, 255);
    /* position: fixed; */
    width: 100%;
    box-shadow: 10px 10px 10px rgba(110, 110, 110, 0.1);

}


.left a {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}



.right {
    display: flex;
    align-items: center;
    gap: 8px;
}
