.formArea {
    text-align: center;
}


.formArea input {
    display: inline-block;
    width: 90%;
    padding: 14px 10px;
    border-radius: 26px;
    border: none;
    margin-bottom: 30px;
    font-size: 16px;
}


.formArea button {
    all: unset;
    color: #fff;
    background: rgb(8, 3, 43);
    padding: 1rem;
    width: 100px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all .4s;
    margin-top: 30px;


}

.formArea button:hover {
    /* opacity: .8; */
    background: #fff;
    color: #000;
}
