/* -----全体のヘッダー行と動画行を統一するために共通クラスを作る----- */
.col {
    display: grid;
    grid-template-columns: 500px 150px 150px 150px;  /* 左から順に幅指定 */
    align-items: center;
    padding: 8px 24px;
}


/* -----head----- */
.head {
    border-bottom: 1px solid rgb(184, 184, 184);
    font-size: 14px;
    color: rgb(119, 119, 119);
    font-weight: 600;
}


/* -----videoArea----- */
.videoArea {
    position: relative;
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 6px 24px;
}


.videoArea .left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.videoArea .left img {
    width: 100px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 12px;
}

.videoArea .videoTitle {
    font-size: 13px;
}



.videoArea:hover {
    background-color: #f9f9f9;
}


/* 説明文はデフォルト表示、ホバーで非表示 */
.videoArea:hover .videoDescription {
    display: none;
}


/* .menusはデフォルト非表示、ホバーで表示 */
.videoArea .left .menus {
    display: none;

}


.videoArea:hover .menus {
    display: flex;
    gap: 4px;
}
