.modal {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: #fff;
    width: 210px;
    padding: 1%;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}


.modal .menus li {
    width: 100%;
    display: flex;
    align-items: center;

    padding: 3% 1%;
    gap: 10px;
    cursor: pointer;
    transition: all .6s;
}


.modal .menus li:hover {
    background-color: rgb(231, 243, 253);
}
