.videoContainer {
    display: flex;
}

/* ----.mainArea---- */
.mainArea {
    flex: 1;

}


.mainArea .mainTitle {
    font-size: 26px;
    margin-top: 20px;

}


.videoCards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 30px;
}
