/* ----.modal---- */
.modal {
    position: absolute;
    /* position: fixed; */
    top: 100%;
    right: 20px;
    background: #fff;
    box-shadow: 10px 10px 10px rgba(0,0,0,.8);
    border-radius: 12px;
    z-index: 10000;
}


.modal li {
    display: flex;
    gap: 4px;
    padding: 10px;
    cursor: pointer;
}


.modal li:hover {
    background-color: rgb(204, 251, 235);
}
